@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-h1 {
    @apply font-['Spartan'] text-[4rem] font-light leading-[4.5rem] tracking-[-0.8px];
  }

  .font-h2 {
    @apply font-['Spartan'] text-[2.5rem] font-bold leading-[3.5rem] tracking-[-0.5px];
  }

  .font-h3-l {
    @apply font-['Spartan'] text-[1.125rem] font-bold leading-[1.75rem] tracking-[-0.22px];
  }

  .font-h3-s {
    @apply font-['Spartan'] text-[0.875rem] font-semibold leading-[1.75rem] tracking-[2px];
  }

  .font-body-1 {
    @apply font-['Spartan'] text-[1.125rem] font-normal leading-[1.875rem] tracking-[-0.22px];
  }

  .font-body-2 {
    @apply font-['Spartan'] text-[0.938rem] font-normal leading-[1.75rem] tracking-[2px];
  }

  .btn-dark {
    @apply flex h-16 w-[10.625rem] items-center justify-center border border-solid border-white bg-transparent py-6 px-12 font-['Spartan'] text-[0.875rem] font-semibold uppercase leading-[1rem] tracking-[2px] text-white hover:bg-white hover:text-cod-gray;
  }

  .btn-light {
    @apply flex h-16 w-[10.625rem] items-center justify-center border border-solid border-cod-gray bg-transparent py-6 px-12 font-['Spartan'] text-[0.875rem] font-semibold uppercase leading-[1rem] tracking-[2px] text-cod-gray hover:bg-cod-gray hover:text-white;
  }

  #home header {
    background: url('/images/homepage/hero-bg-mobile.jpg') no-repeat top center;
    background-size: cover;
  }

  #booking header {
    background: url('/images/booking/hero-bg-mobile.jpg') no-repeat top center;
    background-size: cover;
  }

  #CTA {
    background: url('/images/homepage/ready-bg-mobile.jpg') no-repeat top center;
    background-size: cover;
  }

  button.selected {
    @apply text-cod-gray;
  }

  button.selected::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: #9e7f66;
    bottom: 0;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  select::-ms-expand {
    display: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
}
