@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-h1 {
    @apply font-['Spartan'] text-[4rem] font-light leading-[4.5rem] tracking-[-0.8px];
  }

  .font-h2 {
    @apply font-['Spartan'] text-[2.5rem] font-bold leading-[3.5rem] tracking-[-0.5px];
  }

  .font-h3-l {
    @apply font-['Spartan'] text-[1.125rem] font-bold leading-[1.75rem] tracking-[-0.22px];
  }

  .font-h3-s {
    @apply font-['Spartan'] text-[0.875rem] font-semibold leading-[1.75rem] tracking-[2px];
  }

  .font-body-1 {
    @apply font-['Spartan'] text-[1.125rem] font-normal leading-[1.875rem] tracking-[-0.22px];
  }

  .font-body-2 {
    @apply font-['Spartan'] text-[0.938rem] font-normal leading-[1.75rem] tracking-[2px];
  }

  .font-error {
    @apply font-['Spartan'] text-[0.625rem] font-medium leading-[0.688rem] tracking-[-0.13px] text-[#B54949];
  }

  .btn-dark {
    @apply flex h-16 w-[10.625rem] items-center justify-center border border-solid border-white bg-transparent py-6 px-12 font-['Spartan'] text-[0.875rem] font-semibold uppercase leading-[1rem] tracking-[2px] text-white hover:bg-white hover:text-cod-gray active:bg-white active:text-cod-gray;
  }

  .btn-light {
    @apply flex h-16 w-[10.625rem] items-center justify-center border border-solid border-cod-gray bg-transparent py-6 px-12 font-['Spartan'] text-[0.875rem] font-semibold uppercase leading-[1rem] tracking-[2px] text-cod-gray hover:bg-cod-gray hover:text-white active:bg-cod-gray active:text-white;
  }

  #home header {
    background: url('/images/homepage/hero-bg-mobile.jpg') no-repeat top center;
    background-size: cover;
  }

  #booking header {
    background: url('/images/booking/hero-bg-mobile.jpg') no-repeat top center;
    background-size: cover;
  }

  #CTA {
    background: url('/images/homepage/ready-bg-mobile.jpg') no-repeat top center;
    background-size: cover;
  }

  button.selected {
    @apply text-cod-gray;
  }

  button.selected::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: #9e7f66;
    bottom: 0;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  select::-ms-expand {
    display: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  @media (min-width: 768px) {
    #home header {
      background: url('/images/homepage/hero-bg-tablet.jpg') no-repeat top
        center;
      background-size: cover;
    }

    #booking header {
      background: url('/images/booking/hero-bg-tablet.jpg') no-repeat top center;
      background-size: cover;
    }

    #features {
      background-image: url('/images/patterns/pattern-curve-top-right.svg'),
        url('/images/patterns/pattern-curve-top-left.svg');
      background-position: -517px 196px, 384px bottom;
      background-repeat: no-repeat, no-repeat;
      background-size: 895px 320px, 895px 320px;
    }

    #events {
      background-image: url('/images/patterns/pattern-curve-top-right.svg');
      background-position: -517px 0;
      background-repeat: no-repeat;
      background-size: 895px 320px;
    }

    #CTA {
      background: url('/images/homepage/ready-bg-tablet.jpg') no-repeat top
        center;
      background-size: cover;
    }
  }

  @media (min-width: 1280px) {
    #home header {
      background: url('/images/homepage/hero-bg-desktop.jpg') no-repeat top
        center;
      background-size: cover;
    }

    #booking header {
      background: url('/images/booking/hero-bg-desktop.jpg') no-repeat top
        center;
      background-size: cover;
    }

    #booking main {
      background-image: url('/images/patterns/pattern-curve-bottom-right.svg');
      background-position: 0px 342px;
      background-repeat: no-repeat;
      background-size: 895px 320px;
    }

    #features {
      background-position: 0px 320px, right 1161px;
      background-repeat: no-repeat, no-repeat;
      background-size: 895px 320px, 895px 320px;
    }

    #events {
      background-position: -350px 0;
    }
    #CTA {
      background: url('/images/homepage/ready-bg-desktop.jpg') no-repeat top
        center;
      background-size: cover;
    }

    button.selected::after {
      width: 5.938rem;
      top: 14px;
      left: -7.813rem;
    }
  }
}
